.Home{
    color: aqua;
}
.Navbar{
    display: flex;
    justify-content: left;
    padding: 0 70px;
    margin-top: 20px;
}
.div1{
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    /* padding-right: 16px; */
    font-size: 21px;
    font-weight: 600;
    gap:20px;
    color: black;
}
.navlink{
    text-decoration: none;
    /* color: black; */
}
.SearchDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    border: 1px solid red;
}
.SearchDiv>input{
    width: 200px;
    height: 20px;
    margin-top: 30px;
}
.filterDiv{
    display: flex;
    justify-content: space-around;
    width: 78%;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 10px;
}
.selectTag{
    font-size: 18px;
    font-weight: 600;
    border-top: none;
    border-bottom: none;
    
    padding: 0px 10px;
    border: .1px solir black;
}

/* Add Property Page CSS */

.formDiv{
    width: 400px;
    height: 500px;
    border: 1px solid red;
    margin: auto;

}